.ul {
    background: #3399ff;
    padding: 10px;
  }

.li {
    background: #cce5ff;
    margin: 5px;
    margin-left: 35px;
}

.li:hover {
    background: #e7ffcc;
    margin: 5px;
    margin-left: 35px;
}